@charset "UTF-8";

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/
*{
  border: 1px pink dotted;
}

.boardDetail_area{
  border: 1px gold solid;
  min-width: 1000px;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.boardDetail {
  padding: 20px;
}
.boardDetail-header {
  display: block;
  color: white;
  font-family: 'Hanna', serif;
  background-color: #002F2F;
  width: 100%;
  height: 130px;
}

.boardDetail-header input {
  background-color: #002F2F;
}

.boardDetail_title {
  float: left;
  width: 50%;
}

.boardDetail_author{
  float: right;
  width: 50%;
  border-left: 3px green solid;
  padding: 10px;
}

.boardDetail_date {

}

#bMedal {
  background-color: gold;
  color: white;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#bMedal:hover {
  opacity: 0.8;
}

#board_postdate {
  float: right;
  margin-right: 20px;
}

.boardDetail-contents {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.boardDetail-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
