@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

* {
	//border: 1px dotted gold;
}

.navbar {
	background-color: #002F2F;
	padding: 10px;
  height: 70px;
	width: 100%;
  font-size: 16px;
}

#home_logo {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 44px;
	margin-left: 600px;
}


#home_logo:hover {
  color: gold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#menu {
	font-size: 30px;
}

.navbar .container-fluid .navbar-nav a {
	font-family: 'Hanna', serif;
	font-size: 20px;
	color: white;
}

.navbar .container-fluid .navbar-nav a:hover {
  color: gold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidenav {
		border: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #002F2F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 70px;
}

.sidenav a {
		font-family: 'Hanna', serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
		background-color: gold;
		color: #002F2F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
