/*매우 중요!!! Modal 누를 때 마다 화면 왼쪽 밀림 임현상 방지*/
body {
  padding-right: 0 !important;
}
/*매우 중요!!! Modal 누를 때 마다 화면 왼쪽 밀림 임현상 방지*/

@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

* {
  font-family: 'Hanna', serif;
  font-weight: lighter;
}

.topnav.navbar {
  background-color: #002F2F;
  padding: 10px;
  height: 70px;
  width: 100%;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#menu-toggle {
  text-decoration: none;
  font-size: 26px;
  float: left;
  color: #fff;
}

#menu-toggle:hover {
  color: gold;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#wrapper .navbar .container-fluid .navbar-nav {
  float: right;
}

#wrapper .navbar .container-fluid .navbar-nav #home_logo {
  text-decoration: none;
  color: white;
  font-family: 'Pacifico', cursive;
  margin-right: 500px;
  font-size: 40px;
}

#wrapper .navbar .container-fluid .navbar-nav #home_logo:hover {
  color: gold;
  background-color: inherit;
  transition: 0.4s;
}

#wrapper .navbar .container-fluid .navbar-nav a {
  text-decoration: none;
  font-family: 'Hanna', serif;
  font-size: 18px;
  color: white;
}

#wrapper .navbar .container-fluid .navbar-nav a:hover {
  color: gold;
  background-color: inherit;
  transition: 0.4s;
}


/*사이드바*/

#sidebar-wrapper {
  margin-left: -240px;
  top: 70px;
  left: 0;
  width: 240px;
  background: #002F2F;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#wrapper.active {
  padding-left: 240px;
}

#wrapper.active #sidebar-wrapper {
  left: 240px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper a{
  font-size: 24px;
}

#sidebar-wrapper a:hover {
  font-size: 26px;
  background-color: gold;
  color: black;
  transition: 0.4s;
}


.sidebar-nav li a {
  text-decoration: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
  display: block;
  padding-left: 50px;
}
