
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@charset "UTF-8";

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

* {
  font-family: 'Hanna', serif;
}

.board {
  border: none;
  background-color: white;
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 200px;
}

.panel {
  border: none;
}

.input-group .form-control{
  padding: 10px;
  font-size: 16px;
}

.input-group {
  width: 600px; 
}

.sort_options select:hover, .sort_options option:hover {
  cursor: pointer;
}

.sort_options .selectpicker{
  width: 150px;
}

.table {
  border: none;
}

.img-circle {
  display: inline-block;
  border: 1px silver solid;
  width: 25px;
  height: 25px;
}
