<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">

 	<resultMap id="itemResultMap" type="Item"></resultMap>
 	
	<select id="selectItemList" resultMap="itemResultMap" resultType="Item">
		SELECT ITEMCODE, A.NAME, USAGEDATE, B.NAME MOOD, FILELINK,'NULL' PURCHASEDATE
		FROM ITEM A
		JOIN ITEMMOOD B
		USING(MOOD)
	</select>
	
	<select id="selectItemOne" resultType="Item" parameterType="_int">
		SELECT ITEMCODE, A.NAME, USAGEDATE, B.NAME MOOD, FILELINK,'NULL' PURCHASEDATE
		FROM ITEM A
		JOIN ITEMMOOD B
		USING(MOOD)
		WHERE ITEMCODE=#{itemcode}
	</select>
	
	<select id="selectPurchasedItem" resultMap="itemResultMap" resultType="Item">
		SELECT ITEMCODE, A.NAME, USAGEDATE, B.NAME MOOD, FILELINK, PURCHASEDATE
		FROM ITEM A
		JOIN ITEMMOOD B USING(MOOD)
        JOIN PURCHASEDITEM USING (ITEMCODE)
		WHERE MEMBERCODE=#{membercode}
	</select>
	
	<insert id="insertOne" parameterType="Purchaseditem">
		INSERT INTO PURCHASEDITEM
		VALUES(#{membercode},#{itemcode},SYSDATE)	
	</insert>
	
	<delete id="deleteOne" parameterType="Purchaseditem">
		DELETE
		FROM PUERCHASEDITEM
		WHERE MEMBERCODE=#{membercode} AND ITEMCODE=#{itemcode}
	</delete>
	
</mapper>
